@import './sass/reset'
@import './sass/typography'
@import './sass/grid'
@import './sass/form'

\:root
  --color-dark: #141414
  --color-light: #fff
  --color-accent: #96562B

body
  background-color: var(--color-dark)
  color: var(--color-light)
